---
import { Image } from "astro:assets";
import IconUser from "@assets/icon-user.svg";
import IconUserPlus from "@assets/icon-user-plus.svg";
import IconMap from "@assets/icon-map.svg";
import Container from "@components/Container";
---

<section class="bg-gray-50 pb-28">
  <Container>
    <div class="flex flex-col gap-8 bg-statsBg py-12 px-32 rounded-3xl bg-cover">
      <h2 class="text-4xl text-center text-white font-semibold">
        Unleash the power of story mapping
      </h2>
      <p class="text-xl text-white text-center">
        StoriesOnBoard transforms your team’s collaborative workflow. No more
        sticky notes, just a seamless planning process at your fingertips.
      </p>
      <div
        class="flex justify-between gap-16 bg-transparent py-12 px-32 rounded-2xl" style={{
          "background-color": "rgba(255, 255, 255, .10)"
        }}
      >
        <div class="flex gap-4">
          <Image src={IconUser} alt="Ikon User" />
          <div>
            <p class="text-5xl font-semibold text-white mb-4">98K</p>
            <p class="text-white font-light">Teams</p>
          </div>
        </div>
        <div class="flex gap-4">
          <Image src={IconMap} alt="Ikon Map" />
          <div>
            <p class="text-5xl font-semibold text-white mb-4">160K</p>
            <p class="text-white font-light">Storymaps</p>
          </div>
        </div>
        <div class="flex gap-4">
          <Image src={IconUserPlus} alt="Ikon User" />
          <div>
            <p class="text-5xl font-semibold text-white mb-4">200K</p>
            <p class="text-white font-light">Satisfied Users</p>
          </div>
        </div>
      </div>
    </div>
  </Container>
</section>
