---
import IconUser from "@assets/icon-user.svg";
import IconUserPlus from "@assets/icon-user-plus.svg";
import IconMap from "@assets/homepage/stats/mapicon.svg";
import Container from "@components/Container";
import StatsCounter from "./StatsCounter";
---

<section class="bg-gray-50 pb-28">
  <Container>
    <div
      class="flex flex-col gap-8 bg-statsBg py-12 px-4 xl:px-32 rounded-3xl bg-cover"
    >
      <h2 class="text-3xl lg:text-4xl text-center text-white font-semibold">
        Unleash the power of story mapping
      </h2>
      <p class="text-lg lg:text-xl text-white text-center">
        StoriesOnBoard transforms your team’s collaborative workflow. No more
        sticky notes, just a seamless planning process at your fingertips.
      </p>
      <div
        class="flex flex-col items-center md:flex-row justify-between gap-16 bg-transparent py-12 px-8 lg:px-32 rounded-2xl"
        style={{
          backgroundColor: "rgba(255, 255, 255, .10)",
        }}
      >
        <div class="flex gap-4">
          <img src={IconUser.src} alt="Ikon User" />
          <div>
            <StatsCounter end={98} client:visible />
            <p class="text-white font-light">Teams</p>
          </div>
        </div>
        <div class="flex gap-4">
          <img src={IconMap.src} alt="Ikon Map" />
          <div>
            <StatsCounter end={160} client:visible />
            <p class="text-white font-light">Storymaps</p>
          </div>
        </div>
        <div class="flex gap-4">
          <img src={IconUserPlus.src} alt="Ikon User" />
          <div>
            <StatsCounter end={200} client:visible />
            <p class="text-white font-light">Satisfied Users</p>
          </div>
        </div>
      </div>
    </div>
  </Container>
</section>
