---
import HeroSection from "@components/Homepage/HeroSection.astro";
import BacklogContent from "./BacklogContent";
---

<section class="flex flex-col gap-16">
  <HeroSection
    title="Simple, clear backlog management"
    description="StoriesOnBoard: Ideate, prioritize, validate, and collaborate efficiently using story maps, automating feedback for effective decision-making."
  />
  <BacklogContent client:load />
</section>
