---
import HeroSection from "@components/Homepage/HeroSection.astro";
---

<section class="flex flex-col gap-16">
  <HeroSection
    title="Simple, clear backlog management"
    description="StoriesOnBoard: Ideate, prioritize, validate, and collaborate efficiently using story maps, automating feedback for effective decision-making."
  />
  <div class="flex items-center gap-16">
    <div class="flex flex-col gap-4 w-1/2">
      <h3 class="text-2xl font-semibold">
        NEW! Save time by writing user stories with AI
      </h3>
      <div>
        <ul class="list-disc list-inside text-gray-500 text-lg">
          <li>
            Learn to write user stories, and acceptance criteria in seconds
          </li>
          <li>
            Improve ongoing projects by adding new perspectives and filling the
            gaps
          </li>
        </ul>
      </div>
      <button
        class="bg-gray-500 w-fit py-2 px-4 rounded-full text-white font-normal text-sm"
        >Learn more</button
      >
    </div>
    <div class="bg-gray-100 w-1/2 h-96 rounded-xl"></div>
  </div>

  <div class="flex items-center gap-16">
    <div class="bg-gray-100 w-1/2 h-96 rounded-xl"></div>
    <div class="flex flex-col gap-4 w-1/2">
      <h3 class="text-2xl font-semibold">Story map</h3>
      <div>
        <p class="text-lg text-gray-500">
          The backlog that everybody understands
        </p>
        <ul class="list-disc list-inside text-gray-500 text-lg">
          <li>Create user personas</li>
          <li>Map the user journey</li>
          <li>Slice out the MVP</li>
          <li>Invite stakeholders</li>
        </ul>
      </div>
      <button
        class="bg-gray-500 w-fit py-2 px-4 rounded-full text-white font-normal text-sm"
        >Learn more</button
      >
    </div>
  </div>

  <div class="flex items-center gap-16">
    <div class="flex flex-col gap-4 w-1/2">
      <h3 class="text-2xl font-semibold">Roadmap</h3>
      <div>
        <p class="text-lg text-gray-500">
          Share a high-level overview of your product
        </p>
        <ul class="list-disc list-inside text-gray-500 text-lg">
          <li>Share the product vision</li>
          <li>Track progression</li>
          <li>Portfolio overview</li>
        </ul>
      </div>
      <button
        class="bg-gray-500 w-fit py-2 px-4 rounded-full text-white font-normal text-sm"
        >Learn more</button
      >
    </div>
    <div class="bg-gray-100 w-1/2 h-96 rounded-xl"></div>
  </div>

  <div class="flex items-center gap-16">
    <div class="bg-gray-100 w-1/2 h-96 rounded-xl"></div>
    <div class="flex flex-col gap-4 w-1/2">
      <h3 class="text-2xl font-semibold">Prioritization</h3>
      <div>
        <p class="text-lg text-gray-500">
          Make product decisions with confidence
        </p>
        <ul class="list-disc list-inside text-gray-500 text-lg">
          <li>Standardize prioritization</li>
          <li>Involve your team</li>
          <li>Visualize product strategy</li>
        </ul>
      </div>
      <button
        class="bg-gray-500 w-fit py-2 px-4 rounded-full text-white font-normal text-sm"
        >Learn more</button
      >
    </div>
  </div>

  <div class="flex items-center gap-16">
    <div class="flex flex-col gap-4 w-1/2">
      <h3 class="text-2xl font-semibold">Idea & insight management</h3>
      <div>
        <p class="text-lg text-gray-500">A hub for great product ideas</p>
        <ul class="list-disc list-inside text-gray-500 text-lg">
            <li>Streamline user feedback</li>
            <li>Smart feedback processing</li>
            <li>Develop feature ideas</li>
            <li>Validate your roadmap</li>
        </ul>
      </div>
      <button
        class="bg-gray-500 w-fit py-2 px-4 rounded-full text-white font-normal text-sm"
        >Learn more</button
      >
    </div>
    <div class="bg-gray-100 w-1/2 h-96 rounded-xl"></div>
  </div>
</section>
