---
import ValuesList from "./ValuesList";
---

<section class="flex flex-col gap-8">
  <div class="flex flex-col gap-4 text-center xl:w-2/3 mx-auto">
    <h2 class="text-3xl font-semibold">
      Plan, prioritize, and collaborate efficiently
    </h2>
    <p class="font-normal text-gray-500">
      Clearly define the project's scope, ensuring alignment with stakeholder
      requirements and expectations, ultimately leading to successful project
      outcomes.
    </p>
  </div>
  <ValuesList client:visible />
</section>
