---
import Container from "@components/Container";
import { Image } from "astro:assets";
import heroImage from "@assets/hero/heroImage.svg"
---

<div class="bg-heroBg bg-cover">
  <Container>
    <section class="pt-48 flex flex-col gap-36">
      <div class="w-2/3 mx-auto flex flex-col gap-8">
        <h2
          class="text-[64px] text-white text-center font-semibold leading-[72px]"
        >
          Begin projects with <span class="text-transparent bg-clip-text bg-gradient-to-b from-primary to-[#04DAFF]">Taskgain</span> for better planning
        </h2>
        <p class="text-white text-lg leading-8 text-center font-light">
          Streamline project coordination, simplify task tracking, and boost
          overall productivity effortlessly through an all-encompassing platform
          designed for intuitive project management.
        </p>
        <div class="flex gap-2 w-2/3 mx-auto">
          <input
            type="email"
            placeholder="Enter Your Email"
            class="px-4 py-3 border w-3/5 rounded-full bg-transparent text-white"
          />
          <button class="bg-primary hover:bg-primaryHover px-4 py-2 rounded-full text-white w-2/5"
            >Sign up - It's Free</button
          >
        </div>
      </div>
      <Image src={heroImage} alt="Image hero" />
    </section>
  </Container>
</div>
