<section class="pt-32">
  <div class="flex gap-12 items-center mb-16">
    <h2 class="text-5xl font-semibold w-1/2 leading-[60px]">Start software projects with story mapping</h2>
    <div>
        <p class="text-gray-400 text-lg leading-8 mb-8">Effortless Project Coordination, Intuitive Task Tracking, and Enhanced Productivity - All in One Platform</p>
        <div class="flex gap-2">
            <input type="email" placeholder="Enter Your Email" class="px-4 py-3 border w-3/4 rounded-full">
            <button class="bg-gray-400 px-4 py-2 rounded-full text-white w-1/4">Sign up - It's Free</button>
        </div>
    </div>
  </div>
  <div class="bg-gray-300 w-full h-96" />
</section>
