---
import Container from "@components/Container";
import HeroSection from "@components/Homepage/HeroSection.astro";
import IntegratedMarquee from "./IntegratedMarquee";
import ButtonArrow from "@components/ButtonArrow";
---

<section class="bg-[#1F1F1F] py-32 flex flex-col gap-16">
  <Container>
    <div>
      <HeroSection
        isWhite
        title="Integrated with your favorite tools"
        description="Sync your story maps with your favorite issue trackers and automate product feedback collection."
      />
    </div>
  </Container>
  <IntegratedMarquee client:load />
  <div class="flex justify-center">
    <ButtonArrow text="Start Free Trial" />
  </div>
</section>
