---
import HeroSection from "@components/Homepage/HeroSection.astro";
import ListCheckCircle from "@components/ListCheckCircle.astro";
import { seamlessCollaboration, permiumServices } from "@utils/constant";
---

<section class="flex flex-col gap-16">
    <HeroSection title="Identify, manage, & validate product ideas" description="Define the project scope with confidence and meet stakeholders' needs. Save time and get on the same page with a user-focused approach and a visual backlog." />
    <div class="flex gap-8 items-center">
        <div class="bg-gray-300 w-1/2 h-96 rounded-xl" />
        <div class="flex flex-col gap-4 w-1/2">
            <h2 class="text-2xl font-semibold">Seamless collaboration</h2>
            { seamlessCollaboration.map(content => <ListCheckCircle description={content} />) }
        </div>
    </div>
    <div class="flex gap-8 items-center">
        <div class="flex flex-col gap-4 w-1/2">
            <h2 class="text-2xl font-semibold">Premium services</h2>
            { permiumServices.map(content => <ListCheckCircle description={content} />) }
        </div>
        <div class="bg-gray-300 w-1/2 h-96 rounded-xl" />
    </div>
</section>