---
import Container from "@components/Container";
import BenefitsList from "./BenefitsList";
import BenefitsImg from "@assets/product/benefits/benefitsImg.svg";

import { Image } from "astro:assets";
---

<section>
  <Container>
    <div class="flex gap-16 pt-48 justify-between items-start">
      <Image src={BenefitsImg} alt="Benefit Image" />
      <div class="w-1/2 flex flex-col gap-8">
        <h2 class="text-5xl font-medium leading-[57.4px]">
          7 benefits of user <br /> story maps
        </h2>
        <BenefitsList client:load />
      </div>
    </div>
  </Container>
</section>
