---
import BenefitsList from "./BenefitsList";
---

<section class="flex gap-8">
    <div class="bg-gray-400 w-1/2 h-[700px]" />
    <div class="w-1/2 flex flex-col gap-8">
        <h2 class="text-5xl font-medium leading-24">7 benefits of user story maps</h2>
        <BenefitsList client:load />
    </div>
</section>