---
import Button from "@components/Button";
import { Image } from "astro:assets";
import Rectangle from "@assets/icon/rectangle.svg";
import CtaImg from "@assets/enterprice/ctaImg.svg";
import Container from "@components/Container";
---

<section class="pb-32">
  <Container>
    <div class="bg-[#268fee] flex relative rounded-3xl">
      <div
        class="flex flex-col gap-8 p-16 text-white rounded-xl lg:w-1/2"
      >
        <div class="flex gap-2">
          <Image src={Rectangle} alt="" />
          <p>Schedule a LIVE demo</p>
        </div>
        <h2 class="font-semibold text-[40px] leading-[48px]">
          Explore the app with a guided tour and discuss how it would fit into
          your processes!
        </h2>
        <Button text="Book Demo" />
      </div>
      <img src={CtaImg.src} alt="CTA Image" class="hidden lg:inline-block absolute bottom-0 right-28">
    </div>
  </Container>
</section>
