---
import Container from "@components/Container";
---

<section>
    <Container>
        <div class="bg-blue-600 py-48">
            <h1>This is hero section</h1>
        </div>
    </Container>
</section>