---
import Button from "@components/Button";
import EbookFeatureItem from "./EbookFeatureItem.astro";
import { ebookFeaturesDataLeft, ebookFeaturesDataRight } from "@utils/constant";
import EbookImg from "@assets/product/ebook/ebookImg.svg";
import Container from "@components/Container";

import { Image } from "astro:assets";
---

<section>
  <Container>
    <div class="flex flex-col lg:flex-row gap-16 justify-between items-center py-48">
      <div class="flex flex-col gap-8 h-fit lg:w-1/2">
        <div class="flex flex-col gap-4">
          <h2 class="text-5xl font-semibold">Free story mapping ebook</h2>
          <p class="text-lg font-normal text-gray-400">
            Master the Art of Story Mapping with Our In Depth eBook Your Path to
            Agile Project Excellence
          </p>
        </div>
        <div class="flex flex-col gap-8 lg:flex-row justify-between">
          <div class="flex flex-col gap-4">
            <p class="text-lg text-gray-500">50 handpicked hints on</p>
            {
              ebookFeaturesDataLeft.map((left) => (
                <EbookFeatureItem description={left} />
              ))
            }
          </div>
          <div class="flex flex-col gap-4">
            <p class="text-lg text-gray-500">Bonus materials included</p>
            {
              ebookFeaturesDataRight.map((right) => (
                <EbookFeatureItem description={right} />
              ))
            }
          </div>
        </div>
        <Button text="Download" />
      </div>
      <Image src={EbookImg} alt="Ebook Image" class="lg:w-1/2" />
    </div>
  </Container>
</section>
