---
import Container from "@components/Container";
import HeroImg from "@assets/product/hero/HeroImg.svg";

import { Image } from "astro:assets";
---

<section class="bg-productHeroBg bg-cover">
  <Container>
    <div class="flex items-center py-48">
      <div class="w-1/2 flex flex-col gap-8">
        <h1 class="text-[64px] leading-[76.8px] font-semibold">
          Optimizing product development with<span class="text-primary">
            user story maps</span>
        </h1>
        <p class="text-gray-500 text-lg">
          Uncover 7 Benefits of User Story Maps for Efficient Project Planning,
          Prioritization, and Enhanced Stakeholder Engagement in Agile
          Development.
        </p>
      </div>
      <Image src={HeroImg} alt="Hero Image" />
    </div>
  </Container>
</section>
