---
import HeroSection from "@components/HeroSection";
---

<section class="pt-52">
    <HeroSection title="7 benefits of user story maps" description="Empower Your Team: Uncover 7 Benefits of User Story Maps for Efficient Project Planning, Prioritization, and Enhanced Stakeholder Engagement in Agile Development." />
</section>