---
import Button from "@components/Button";
import Container from "@components/Container";
import ListCheckCircle from "@components/ListCheckCircle.astro";
import { transparencyContent } from "@utils/constant";
import TransparentSection from "@assets/enterprice/transparentSection.svg";

import { Image } from "astro:assets";
---

<section class="py-32">
  <Container>
    <div class="flex flex-col gap-8">
      <div class="flex flex-col lg:flex-row gap-8 items-center">
        <div class="flex flex-col gap-8 lg:w-1/2 mx-auto">
          <h2 class="text-5xl font-semibold leading-[56px]">
            Transparency and structure for the entire organization
          </h2>
          <p class="text-lg font-normal text-gray-500">
            How Transparency and Thoughtful Organizational Structure Drive
            Success Across Your Entire Organization
          </p>
          <div class="flex gap-4">
            <Button text="Get Started" />
            <button class={`hidden lg:inline transition-all border px-6 py-2 hover:bg-primary hover:border-primary hover:text-white rounded-full text-sm border-gray-400 text-black`}>Book Demo</button>
          </div>
        </div>
        <Image src={TransparentSection} alt="Transparent Section Image" />
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
        {
          transparencyContent.map((content) => {
            return (
              <div class="bg-gray-50 p-4 rounded-full">
                <ListCheckCircle description={content} />
              </div>
            );
          })
        }
      </div>
    </div>
  </Container>
</section>
