---
import Carousel from "@components/Carousel";
import Container from "@components/Container";
import HeroSection from "@components/Homepage/HeroSection.astro";
import { enterpriceReviewContent } from "@utils/constant";
---

<section class="bg-gray-50 py-48">
  <Container>
    <div class="flex flex-col gap-16">
      <HeroSection
        title="Hear What Our Users Are Saying"
        description="Here are some testimonials from our user after using Taskplan to manage their Project Management expenses."
      />
      <Carousel data={enterpriceReviewContent} client:load />
    </div>
  </Container>
</section>
